[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DiDforBigData"]
	path = DiDforBigData
	url = https://github.com/setzler/didforbigdata
[submodule "textab"]
	path = textab
	url = https://github.com/setzler/textab
